* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  padding: 2rem;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px 20px;
  border: 1px solid silver;
  border-radius: 1rem;
}

.post__author {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.post__author p:first-child {
  font-size: 20px;
}

.post__author p:last-child {
  font-weight: 700;
}
.post .post__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.post .post__buttons button {
  width: 140px;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#openModal {
  margin-top: 30px;
  margin-left: 30px;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 15px 0 #d1cfcf;
}
.modal {
  display: none;
}
.modal.show {
  display: block;
}
.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #eee;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
}
.modal label {
  display: block;
  margin: 10px 0;
}
.modal button {
  display: block;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
