body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.film-holder {
  margin-bottom: 20px;
  border-bottom: 1px solid #b7b7b7;
  padding-bottom: 20px;
}
.film-info {
  margin-bottom: 20px;
}

.film-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.film-description {
  font-size: 16px;
  margin-bottom: 8px;

  color: #6d6767;
}

.film-number {
  font-size: 14px;
  color: #666;
}

.actors-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 20px;
}

.actors-list li {
  font-size: 16px;
  margin-bottom: 4px;
  flex-grow: 1;
  flex-basis: 170px;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 96px;
  width: 96px;
  animation: rotate_3922 1.2s linear infinite;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.preloader span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.preloader span:nth-of-type(1) {
  filter: blur(5px);
}

.preloader span:nth-of-type(2) {
  filter: blur(10px);
}

.preloader span:nth-of-type(3) {
  filter: blur(25px);
}

.preloader span:nth-of-type(4) {
  filter: blur(50px);
}

.preloader::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  border: solid 5px #ffffff;
  border-radius: 50%;
}

@keyframes rotate_3922 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
